{% extends "base.html" %}
{% block content %}
<style>
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
#font {
    font-family: 'Fredericka the Great', cursive;
}
    .btn-primary {
        background: #7c8dc7;
        color: #ffffff;
    }
    body {
    background-color: lightblue;
    }
</style>

<script>

    // Called on body's `onload` event
    function init() {
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            // Retrieving the text input's value which was stored into localStorage
            var mytext = localStorage.getItem("mytext");
            // Writing the value in the document
            document.getElementById("search_box").value = mytext;
            document.getElementById("clothes_form").submit();
        }

    }

</script>


<body onLoad="init();">
  
<div class="container text-center">
    <h1 id = "font">Outfits</h1>
<form method='GET' action='' id = "clothes_form">
  <div class = "row">
<input type='text' id = 'search_box' name='q' class="col-md-11 " placeholder='Search styles' value='{{ request.GET.q }}'/>
<input type='submit' class = "btn btn-primary btn-sm" value = 'Style U'> </input>
  </div>
</form>
  <!--</div>-->
</div>
{% for obj in object_list %}
{#<div class="row">#}
  <div class="col-md-6">
    <div class="thumbnail" style = "backgroundcolor:lightblue;" >
        {% if obj.image %}
         <img src='{{ obj.image.url }}' class='img-responsive' />
        {% endif %}
      <div class="caption">
{#        {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}#}
{#        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.publish }}</small></h3>#}
{#        {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}#}
{#        <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>#}
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" style = ""
              role="button">Shop This Outfit</a></p>
      </div>
    </div>
  </div>
    <div class="clearfix visible-sm"></div>
{#<hr/>#}
{#</div>#}
{% endfor %}
    </body>





<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>




<!--</div>-->

{% endblock content %}